<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger shadow-sm">
      <h6 class="fw-bold"><%= pluralize(item.errors.count, "erro") %> impediram de salvar este item:</h6>
      <ul class="mb-0 small">
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nome do Item", class: "form-label fw-bold" %>
    <%= form.text_field :name, class: "form-control", placeholder: "" %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :sku, "SKU / Código", class: "form-label fw-bold" %>
      <%= form.text_field :sku, class: "form-control", placeholder: "EXEMPLO-001" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :price, "Preço ($)", class: "form-label fw-bold" %>
      <%= form.number_field :price, step: 0.10, class: "form-control", placeholder: "0.00" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :url_image, "URL da Imagem ", class: "form-label fw-bold" %>
    <%= form.text_field :url_image, class: "form-control", placeholder: "https://exemplo.com/foto.png" %>

  </div>

  <div class="d-grid gap-2">
    <%= form.submit "Salvar Item", class: "btn btn-primary w-100 shadow-sm fw-bold" %>
    <%= link_to "Cancelar", pokeshop_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>