<div id="<%= dom_id item %>">
  <div>
    <strong>Name:</strong>
    <%= item.name %>
  </div>

  <div>
    <strong>Sku:</strong>
    <%= item.sku %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= item.price %>
  </div>

  <div>
    <strong>Url image:</strong>
    <%= item.url_image %>
  </div>

</div>
