<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <img src="<%= item.url_image %>">

    <p><%= item.name %></p>

    <h2>$ <%= item.price %></h2>

    <% if @exchange_value %>
      <h2>
        <%= number_to_currency(item.price * @exchange_value, unit: "R$ ") %>
      </h2>
    <% end %>

    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>