<div id="<%= dom_id pokemon %>">
  <div>
    <strong>Trainer:</strong>
    <%= pokemon.trainer_id %>
  </div>

  <div>
    <strong>Pokedex:</strong>
    <%= pokemon.pokedex_id %>
  </div>

  <div>
    <strong>Level:</strong>
    <%= pokemon.level %>
  </div>

  <div>
    <strong>On team:</strong>
    <%= pokemon.on_team %>
  </div>

</div>
