<div class="mt-2">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Pokemons" %>

  <h2 class="row bg-info text-light shadow justify-content-center">Pokemons</h2>

  <div class="row justify-content-center mb-4 mt-2">
    <div class="col-md-6">
      <%= form_with url: pokemons_path, method: :get, class: "d-flex gap-2" do |form| %>
        <%= form.text_field :query, 
            value: params[:query], 
            placeholder: 'Pesquisar por nome ou treinador...', 
            class: 'form-control' %>
        <%= form.submit 'Buscar', class: "btn btn-primary shadow-sm" %>
        <%= link_to 'Limpar', pokemons_path, class: "btn btn-outline-secondary btn-sm d-flex align-items-center" if params[:query].present? %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-end px-4">
    <%= link_to 'Criar um Pokemon', new_pokemon_path, class:"btn btn-success col-2 ml-5"%>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <div class="row p-2 w-75 ">
      <%@pokemons.each do |pokemon|%>
        <div class="border shadow-sm rounded mt-1">
          <div class="row rounded border-start border-4 <%= type_color(pokemon.pokedex.pk_type)%>">
            <div class="col-2 text-center">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokedex_id %>.png">
            </div>
            <div class="col-6 p-2">
              <h6 class="mb-0"><%= pokemon.pokedex.name %> | id: <%= pokemon.id %></h6>
              <p class="mb-0"><%= pokemon.pokedex.pk_type %></p>
              <p class="mb-0"> Lvl: <%= pokemon.level %></p>
              <p> Trainer: <%= pokemon.trainer.name %></p>
            </div>
            <div class="col-4 p-2 d-flex justify-content-end align-items-center">
              <%= link_to "Ver Pokemon", pokemon, class:"btn btn-info text-white" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
