<div class="container mt-4">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Pokemons" %>

  <div class="text-white p-4 rounded shadow-sm" style="background-image: url('/body_bg.png'); background-image: repeat; background-position: center;">
    <div class="d-flex justify-content-between align-items-center" >
      <div>
        <h2 class="mb-0 text-info fw-bold"><i class="bi bi-pc-display-horizontal me-2"></i>Pokemons</h2>
      </div>

      <div class="">
        <%= form_with url: pokemons_path, method: :get, class: "d-flex" do |form| %>
          <%= form.text_field :query, 
              value: params[:query], 
              placeholder: 'Buscar nome ou treinador...', 
              class: 'form-control' %>
          <%= form.button type: :submit, class: "btn btn-primary shadow-sm" do %>
            <i class="bi bi-search"></i>
          <% end %>
        <% end %>
      </div>
      
      <div>
        <%= link_to new_pokemon_path, class: "btn btn-outline-success fw-bold shadow-sm" do %>
          <i class="bi bi-plus-lg"></i> Adicionar Pokemon
        <% end %>
      </div>
    </div>
  </div>

  


  <div class="w-100 d-flex justify-content-center">
    <div class="row p-2 w-75 ">
      <%@pokemons.each do |pokemon|%>
        <div class="border shadow-sm rounded mt-1">
          <div class="row rounded border-start border-4 <%= type_color(pokemon.pokedex.pk_type)%>">
            <div class="col-2 text-center">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokedex_id %>.png">
            </div>
            <div class="col-6">
              <h6 class="mb-0 pt-2"><%= pokemon.pokedex.name %> | id: <%= pokemon.id %></h6>
              <p class="mb-0"><%= pokemon.pokedex.pk_type %></p>
              <p class="mb-0"> Lvl: <%= pokemon.level %></p>
              <p class="mb-0"> Trainer: <%= pokemon.trainer.name %></p>
            </div>
            <div class="col-4 p-2 d-flex justify-content-end align-items-center">
              <%= link_to "Ver Pokemon", pokemon, class:"btn btn-info text-white" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
