<div class="container mt-4"> 
  
  <% content_for :title, "Pokedex" %>

  <div class="text-white p-4 rounded shadow" style="background-image: url('/body_bg.png'); background-image: repeat; background-position: center;">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h2 class="mb-0 text-info fw-bold"><i class="bi bi-device-ssd-fill me-2"></i>Pokedex</h2>
      </div>
      
      <div>
        <%= link_to new_trainer_path, class: "btn btn-outline-success fw-bold shadow-sm" do %>
          <i class="bi bi-plus-lg"></i> Adicionar Treinador
        <% end %>
      </div>
    </div>
  </div>

  <p style="color: green"><%= notice %></p>

  
  
  <div class="row">
    <%@pokedex.each do |pokemon|%>
      <div class="col-2 text-center p-2">
        <div class=" dropend">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokedex_id %>.png"
          class="border-bottom border-3 <%= type_color(pokemon.pk_type)%> dropdown-toggle" type="button" data-bs-toggle="dropdown" >
          <ul class="dropdown-menu text-center">
            <li><%= link_to "View #{pokemon.name}", pokedex_path(pokemon.id), class:"link-offset-2 link-underline link-underline-opacity-0" %></li>
            <li><%= link_to "Edit #{pokemon.name}", edit_pokedex_path(pokemon.id), class:"link-offset-2 link-underline link-underline-opacity-0" %></li>
            <li><%= link_to "Delete #{pokemon.name}", pokedex_path(pokemon), data: { turbo_method: :delete }, class:"link-offset-2 link-underline link-underline-opacity-0" %></li>
          </ul>
        </div>
        <p class="mb-0"><%= pokemon.pokedex_id %></p>
        <p class="mb-0"><%= pokemon.name %></p>
        <p class="mb-0"><%= pokemon.pk_type %></p>
      </div>
      
    <% end %>
  </div>
  <%= link_to "Register a new pokemon in Pokedex", new_pokedex_path, class:"w-100 btn btn-success px-5" %>
</div>


<!--
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 ">
    <% @pokedex.each do |pokedex|%>
      <div class="col">
        <div class="row">
          <div class="col col-sm-3">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokedex.pokedex_id %>.png" >
          </div>
          <div class="col">
            <span class="badge bg-primary ">#<%= pokedex.pokedex_id %></span>
            <h1 class="h4"><%= pokedex.name%></h1>
            <p><%= pokedex.pk_type %></p>
          </div>
          <div class="col">
            <%= link_to edit_pokedex_path(pokedex.id) do %>
              <i class="btn btn-primary bi bi-pencil-square"></i>
            <% end %>
            <%= link_to pokedex_path(pokedex), data: { turbo_method: :delete } do %>
              <i class="btn btn-primary bi bi-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
 -->
