<div id="<%= dom_id trainer %>">
  <div>
    <strong>Trainer:</strong>
    <%= trainer.trainer_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= trainer.name %>
  </div>

  <div>
    <strong>Money:</strong>
    <%= trainer.money %>
  </div>

  <div>
    <strong>Url image:</strong>
    <%= trainer.url_image %>
  </div>

</div>
