<div>
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Trainers" %>

  <h2 class="row bg-info text-light shadow justify-content-center">Trainers</h2>

  <div class="row justify-content-end px-4">
    <%= link_to 'Criar um Treinador', new_trainer_path, class:"btn btn-success col-2 ml-5"%>
  </div>

  <div class="container">
    <% @trainers.each do |trainer|%>
    <div class="row mt-2 rounded shadow-sm p-3 border">
      <div class="d-grid col-2 text-center">
        <img src="<%= trainer.url_image %>" 
        class="rounded-top img-fluid"
        style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;">
        <h5 class="text-light bg-success rounded-bottom">$<%= trainer.money %></h5>
      </div>  
      <div class="col">
        <div class="row">
          <h3 class="col"><%= trainer.name %></h3>
          <span class="col text-end pl-0"><%= link_to 'Ver Perfil', trainer, class:"btn btn-outline-info btn-sm rounded p-2"%></span>
        </div>
        <div class="row">
          <%@pokemons.where(trainer_id: trainer, on_team: true).each do |pokemon|%>
            <div class="col-md-auto text-center">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokedex_id %>.png"
              class="border-bottom border-3 <%= type_color(pokemon.pokedex.pk_type)%>" >
              <p class="mb-0"><%= pokemon.pokedex.name %></p>
              <p class="mb-0"><%= pokemon.pokedex.pk_type %></p>
            </div>
          <% end %>
        </div>
      </div> 
    </div>
    <% end %>
  </div>
</div>
