<div>
  <p style="color: green"><%= notice %></p>

  <div class="d-flex justify-content-center">
    <div class="bg-light rounded p-2 w-75 border">
      <%= link_to 'Voltar', trainers_path, class:"btn btn-outline-secondary bi bi-caret-left-fill" %>
      <%= link_to 'Editar', edit_trainer_path(@trainer), class:"btn btn-primary" %>
      <%= link_to 'Deletar', @trainer, method: :delete, class:"btn btn-danger" %>
      <div class="pt-2 row d-flex justify-content-center p-3">
        <img src="<%= @trainer.url_image%>" style="width: 200px ;height: 200px; object-fit: cover;" class="border rounded">
        <div class="col">
          <h1><%= @trainer.name %></h1>
          <h2 class="text-success">$<%= @trainer.money %></h2>
          <div class="w-75">
              <%= link_to new_pokemon_path(trainer: @trainer), class:"btn btn-primary link-offset-2 link-underline link-underline-opacity-0" do %>
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png">
              Catch a Pokemon
              <% end %>

            <button class="btn btn-primary">
              <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/rare-candy.png">
              <%= link_to '', new_pokemon_path, class:"link-offset-2 link-underline link-underline-opacity-0"%>
              Level up a pokemon
            </button>
          </div>
        </div>
        <%= render partial: "shared/pokemons", collection: @trainer.pokemons %>
      </div>
    </div>
  </div>
</div>
