<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pokemanager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Pokemanager">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark">

    <div class="">
      <ul class="nav justify-content-center bg-danger fixed-top ">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Trainers", trainers_path, class:"btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pokemons", pokemons_path, class:"btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pokedex", pokedex_index_path, class:"btn text-light"%>
        </li>
      </ul>
    </div>
    
    <div class="container w-75">
      <div class="bg-light min-vh-100 p-2 py-4">
        <%= yield %>
      </div>
    </div>


  </body>
</html>
